@import "../base/normalize";
@import "../base/fonts";
@import "../abstracts/variables";

@import "../blocks/section-heading";
@import "../blocks/toggle";
@import "../blocks/content";

@import "../blocks/menu";
@import "../blocks/promo";
@import "../blocks/quote";
@import "../blocks/training";
@import "../blocks/footer";
