.quote {
  background-color: var(--primary-background);
  padding-top: 120px;
  padding-bottom: 60px;

  &__content {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
    column-gap: 80px;
    font-size: 0;
  }

  &__image {
    width: 650px;
    height: 460px;
  }

  &__figure {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  &__text {
    margin: 0;
    padding: 0;
    font-family: $font-stack;
    font-weight: 600;
    font-size: 34px;
    line-height: 44px;
    letter-spacing: -0.5px;
    color: var(--primary-text);
    width: 470px;
  }

  &__figcaption {
    position: relative;
    bottom: 4px;
  }

  &__author-name {
    padding: 0;
    font-family: $font-stack;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: var(--primary-text);
    margin: 0 0 6px;
  }

  &__author-job {
    margin: 0;
    padding: 0;
    font-family: $font-stack;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: var(--secondary-text);

    opacity: var(--secondary-text-hover);
  }
}
